::v-deep .el-input__wrapper {
    border-radius: 8px;
    background-color: #F4F5F5;
}
::v-deep .el-input__wrapper.is-focus {
    box-shadow: 0 0 0 1px #5297FF;
}
::v-deep .el-input {
    width: 280px;
    height: 37px;
}
::v-deep .el-button {
    color: #fff;
    background-color: #5297FF;
    border-radius: 8px;
}
 
::v-deep .el-tooltip__trigger:first-child:focus-visible {
    outline: unset;
} 