::v-deep .el-input__wrapper {
    border-radius: 8px;
    background-color: #F4F5F5;
}
::v-deep .el-input__wrapper.is-focus {
    box-shadow: 0 0 0 1px #5297FF;
}
::v-deep .el-input {
    width: 280px;
    height: 37px;
}
::v-deep .el-button {
    color: #fff;
    background-color: #5297FF;
    border-radius: 8px;
}
 
::v-deep .el-tooltip__trigger:first-child:focus-visible {
    outline: unset;
} 

::v-deep .el-rate .el-rate__icon {
    margin-right: 0px
}

::v-deep .el-rate {
    align-items: baseline;
    --el-rate-disabled-void-color: #D9D9D9;
}

::v-deep .el-rate .is-disabled {
    width: 18px;
    height: 18px;
    ;
}