*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  /* height: 1000px; */
}

body {
  /* min-height: 1000px; */
  /* height: 1000px; */
  color: var(--color-text);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
}
